<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ProjectURL</key>
    <string>https://oknlivhuuhhmnddaxcrq.supabase.co</string>
    <key>PublishableKey</key>
    <string>sb_publishable_mQj7tTnRfQ9ffNoMUSlkLA_HeqU7GGi</string>
</dict>
</plist>
